body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.login__card {
  width: 40%;
  padding: 0 7em;
  position: relative;
  top: 10em;
  margin: 0 auto; }
  @media only screen and (max-width: 1300px) {
    .login__card {
      width: 80%;
      padding: 0 5em; } }
  @media only screen and (max-width: 600px) {
    .login__card {
      width: 100%;
      padding: unset; } }

.contenpage__header {
  background: #fff; }

.loading__fallback {
  position: fixed;
  right: 0;
  left: 0;
  top: 50%; }
