$color-dark : darkolivegreen;
$color-primary: #e0a453;
$color-linier : linear-gradient(90deg, rgba(139,221,210,1) 0%, rgba(83,83,224,1) 44%, rgba(211,9,224,0.891176538974965) 100%);
$color-white : #fff;